*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(142, 153, 153);  
   /*  background: url(image/premium.jpg)  50% no-repeat ; */
    background-size: cover;
    width: 100%; 
}

.bar{
    justify-content: end;
    display: flex;
    background-color: rgb(0, 0, 0);
    height: 75px;
    border-bottom:3px solid blue;
      
}
div ul{
    display: flex;
    list-style: none;
}
div ul li a{
    color: white;

}
li input{
    background-color: black;
    color: white;
    border: none;
    position:relative;
    left: 320px;
    top: 12px;
}
ul{
    border: 1px solid black;
    transform: translateY(12px) ;   
}
.bar1{
    border: 1px solid black;
}
img.utilisateur{
    border: 1px solid black;
    padding-left: 5px;
    transform: translateY(-6px); 
}
img.catalogue{
    border: 1px solid black;
    padding-left: 5px;
    transform: translateY(-6px); 
}
img.recherche{
    border: 1px solid black;
    padding-left: 8px;
    transform: translateY(-10px);
    position: relative;
    left: 300px;
    top: 15px;
}
.rech{
    /* border: 1px solid rgb(164, 4, 4); */
    display: flex;
    margin-left: -800px;
    position: absolute;
    margin-top: 10px;
}
.cat{
    display: flex; 
    position: absolute;
    margin-left: -190px;
    margin-top: 10px;
 
}
.uti{
    display: flex;
    margin-top: 10px;
    margin-left: 30px;
    padding-left: -12px;
}
.image{
    left: 10px;
    position: absolute;
    height: 70px;
    width: 20vw;
    margin-top: -1px;
    

    
}
.twt{
    margin-left: -520px;
    position: absolute;
    margin-top: 20px;
    margin-left: -520px;
}

.pint{
    margin-top: 20px;
    margin-left: -420px;
}



    

                /* fin bare de navigation */

.collection{
    /* background-color: rgb(130, 130, 148); */
    position: absolute;
    margin: 0 auto; 
    top: 40%;
    padding-left:200px;
    left: 172px;
    display: flex;
    text-align: center;
    justify-content: center;
    border: 5px solid red;
    width: 80.4vw;

}

.col{
    background-color:rgb(0, 0, 0);
    position: relative;
    width: 80vw;
    height: 300px; 
    justify-content: center;
    text-align: center;
    display: flex; 
    margin: 0 auto;
    left: 62%;
    
    transform: translate(-60%);
}
.col1{
    width: 280px;
    height: 300px;
    position: absolute;
    background-color: rgb(141, 28, 28);
    clip-path: polygon(0 0, 61% 0, 92% 100%, 0% 100%);
    margin-left: -820px;

}
 .col2{
    width: 280px;
    height: 300px;
    background-color: rgb(212, 93, 93);
    clip-path: polygon(63% 0, 0 0, 36% 100%, 96% 100%);
    margin-left: -530px;

} 

.col3{
    width: 280px;
    height: 300px;
    background-color: rgb(60, 161, 119);
    clip-path: polygon(63% 0, 0 0, 36% 100%, 96% 100%);   
    margin-left: -195px;
    position: absolute;

}
.col3_1{
    width: 280px;
    height: 300px;
    background-color: rgb(60, 161, 119);
    clip-path: polygon(63% 0, 0 0, 36% 100%, 96% 100%);   
    margin-left: -525px;
    position: absolute;

}

.col4{
    width: 280px;
    height: 300px;
    background-color: rgb(196, 55, 20);
    clip-path: polygon(63% 0, 0 0, 36% 100%, 96% 100%);
    position: absolute;
    margin-left: 120px;    
}

.col5{
    width: 280px;
    height: 300px;
    background-color: rgb(19, 201, 73);
    clip-path: polygon(63% 0, 0 0, 36% 100%, 96% 100%);
     position: absolute;
    margin-left: 450px;
} 
.col6{
    /* background-color: rgb(224, 30, 30); */
    position: relative;
    height: 50px;
    width: 15vw;
    left: 810px;
    padding-top: 20px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid rgb(11, 56, 204);



}
 .col7{
    /* background-color: rgb(9, 49, 224); */
    position: relative;
    height: 70px;
    width: 17vw;
    margin-left: 600px;
    margin-top: 100px;
    color: white;
    font-weight: bold;
    border: 1px solid rgb(114, 121, 143);
}
.col8{
    position: absolute;
    /* background-color: aqua; */
    height: 30px;
    width: 10vw;
    left: 64vw;
    top: 230px;
    border: 1px solid rgb(19, 201, 73);

} 

.dr{
    /* background-color: rgb(94, 175, 175); */
    height: 350px;
    width: 80vw;
    left: 100px;
    margin-top: 560px;
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    border: 2px solid red;
    
  
}
/* .dr1{
    background-color: rgb(133, 133, 155);
    height: 300px;
    width: 200px;
    display: flex;
    text-align: center;
    justify-content: center;
} */
.dr2{
    background-color: rgb(0, 0, 0);
    width: 200px;
    height: 140px;
    margin-top: -5px;
    margin-left: 20px;
    padding-top: 40px;
    color: white;   
}
.dr22{
    background-color: rgb(0, 0, 0);
    width: 200px;
    height: 140px;
    margin-top: 155px;
    margin-left: 20px;
    padding-top: 40px;
    color: white;   
}
.drr{
    position: absolute;
    top: -11px;
    margin-left: -90px;


}
.dr
.drr img{
    margin-left: 20px;
}
.drr1 img{
    margin-left: 20px;
}
.drr2 img{
    margin-left: 20px;
}
.drr3 img{
    margin-left: 20px;
}

.bac{
    background-color: rgb(0, 0, 0);
    height: 240px;
    width: 100vw;
    position: absolute;
    justify-content: center;
    text-align: center;
    display: flex;
    margin-top: 900px;
    gap: 250px;
    padding-top: 30px;
    color: rgb(255, 255, 255);

}
.cl1{
    margin-right: 650px;
    margin-top: 70px;
    position: absolute;
    font-size: 13px;
}
.cl2{
    margin-left: 80px;
    margin-top: 70px;
    position: absolute;
    font-size: 13px;
}
.cl3{
    margin-left: 730px;
    margin-top: 70px;
    position: absolute;
    font-size: 13px;
}





 