*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-size: cover;   
    height: 100%;
}

     .a{
        height: 100%;
        width: 100%;
        position: absolute;
        display: flex;
    } 

    .bar{
        /* border: 2px solid rgb(143, 70, 70); */
        justify-content: end;
        display: flex;
        background-color: rgb(0, 0, 0);
        height: 75px;
        border-bottom:3px solid blue;
        width: 100%;
        
    }
    div ul{
        display: flex;
        list-style: none;
    }
    li input{
        background-color: black;
        color: white;
        border: none;
    }
    div ul li a{
        color: white;
        font-size: 15px;
        border: 1px solid black;

    
    }
    ul{
        border: 1px solid black;
        transform: translateY(12px) ;   
    }
    .bar1{
        border: 1px solid black;
        
    }
    img.utilisateur{
        border: 1px solid black;
        padding-left: 5px;
        transform: translateY(-6px); 
        border: 1px solid black;

    }
    img.catalogue{
        border: 1px solid black;
        padding-left: 5px;
        transform: translateY(-6px); 
    }
   
    
    .cat{
        display: flex; 
        position: absolute;
        right: 300px;
        margin-top: 10px;
        gap: 30px;
     
    }
    /* .cat1{
        display: flex; 
        position: absolute;
        right: 400px;
        margin-top: 10px;
    } */
    .uti{
        display: flex;
        margin-top: 10px;
        margin-left: 30px;
        padding-left: -12px;
        border: 1px solid black;

    }
    .image{
        left: 10px;
        position: absolute;
        height: 50px;
        width: 230px;
        margin-top: 5px;
   
    }
    
/* fin de la bare */

.catalogue1{
    width: 600px;
    height: 70px;
    position: absolute;
    top: 92px;
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: rgb(252, 252, 252);
    animation: spin 1.4s linear infinite;
    animation-delay: 0.2s;

}
@keyframes spin {
    0%{
        color: blue;
        text-shadow: none;
    }
    90%{
        color: blue;
        text-shadow: none;
    }
    100%{
        color: rgb(0, 0, 0);
        text-shadow: 0 0 7px rgb(201, 204, 16), 0 0 50px rgb(255, 255, 255);
    }
  
    
}
.catalogue1 .compte{
    border: 22px solid white;
}
.goon{
    height: 170px;
    width: 100%;
    border: none;
    position:relative;
    background-image: url(../catalogue_visite/image_catalogue/basketball-anime.jpg);
    background-size: 180px;
    background-repeat: no-repeat;
    transition: transform 0.3s ease-in-out;
    border-radius: 30px 30px 0 0;

}
.goon img:hover{
    transform: translateY(10px);

}

.goon1{
    height: 170px;
    width: 100%;
    position:relative;
    background-image: url(../catalogue_visite/image_catalogue/femme.jpg);
    background-size: 180px;
    background-repeat: no-repeat;
    border-radius: 30px 30px 0 0;
}
.goon2{
    height: 170px;
    width: 100%;
    position:relative;
    background-image: url(../catalogue_visite/image_catalogue/3301050.jpg);
    background-size: 180px;
    background-repeat: no-repeat;
    border-radius: 30px 30px 0 0;

}
.goon3{
    height: 170px;
    width: 100%;
    position:relative;
    background-image: url(../catalogue_visite/image_catalogue/IMG-20220804-WA0011.jpg);
    background-size: 180px;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 30px 30px 0 0;

}


.goon4{
    height: 170px;
    width: 100%;
    background-color: rgb(66, 1, 128);
    position:relative;
    background-image: url(../catalogue_visite/image_catalogue/4.jpeg);
    background-size: 180px;
    background-repeat: no-repeat;
    animation: width 3s, heigth 4s;
    border-radius: 30px 30px 0 0;


}
.goon5{
    height: 170px;
    width: 100%;
    background-color: rgb(66, 1, 128);
    position:relative;
    background-image: url(../catalogue_visite/image_catalogue/IMG-20220804-WA0012.jpg);
    background-size: 180px;
    background-repeat: no-repeat;
    animation: width 3s, heigth 4s;
    border-radius: 30px 30px 0 0;

}
.goon5:hover{
    height: 180px;

}
.goon6{
    height: 170px;
    width: 100%;
    position:relative;
    background-image: url(../catalogue_visite/image_catalogue/IMG-20220804-WA0019.jpg);
    background-size: 180px;
    background-repeat: no-repeat;
    transition: width s, heigth 4s;
    border-radius: 30px 30px 0 0;

}
.goon6:hover{
    height: 190px;

}
.cont_video11{
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: 90px;
    text-align: center;
    font-size: 15px;
    overflow: hidden;
    color: rgb(255, 255, 255); 
    animation: width 2s, heigth 4s;   
}
.cont_video11{
    height: 180px;
}

.catalogue2{
    width: 600px;
    height: 70px;
    background:rgb(0, 0, 0);
    position: absolute;
    top: 1px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    text-align: center;
    color: rgb(199, 65, 3);
}

strong{
    color: rgb(255, 81, 0);
    animation: slide 2s  ease-in-out;  
}
@keyframes slide {
    0%{
        transform: translateY(10px);
        opacity: 0;
       
    }
   /*  50%{
        transform: translateY(0) ;
    } */
    100%{
        transform: translateY(0) ;
    }
    
}
.vers p{
    color: rgb(146, 49, 4);
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.vers{
    background-color: rgba(5, 2, 22, 0.979);
    height: 500px;
    width: 100%;
   display: flex;
   justify-content: center;
   padding-top: 190px;
   gap: 12px;
}
.vers1{
    background-color: rgba(5, 2, 22, 0.979);
    height: 400px;
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    padding-top: 80px;
    position: 100px; 
    position: relative;
    gap: 6px;
}


.compte{
    height: 270px;
    width: 13vw;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 30px 30px 0 0;

} 
.compte1{
    height: 300px;
    z-index: 0;
} 

.cont_video{
    width: 100%;
    background: rgb(97, 97, 97);
    height: 50%;
}
.cont_video1{
    justify-content: center;
    text-align: center;
    width: 100%;
    background: rgb(15, 15, 15);
    height: 50%;
    font-size: 1vw;
    color: rgb(255, 255, 255);
    overflow: hidden;
    border-radius: 0 0 30px 30px;

    
}
.akasa{
position: absolute;
left: 1px;
top: 120px;
}

.akasa2{
    position: absolute;
    left: -40px;
    top: 10px;
    }

.akasa1{
    position: absolute;
    right: 5px;
    top: -1px;
    }

    
    
    
    @media screen and (min-width:510px) and (max-width:980px) {
        #col1{
            display: none;
        }

        .compte{
            height: 150px;
            width: 13vw;
            border: 2px solid rgb(0, 0, 0);
            box-shadow: 11px  2px 12px rgb(46, 46, 46);
            border-radius: 30px 30px 0 0;
        
        }
      
       #re21{
        height: 110px;
        width: 100%;
        overflow: hidden;
        font-size: 12px;
       }
       .catalogue2{
        width: 300px;
       }
        .image{
            width: 130px;
        }
        .compte{
            height: 170px;
            width: 30vw;
        
        } 
    }



    @media screen and (min-width:310px) and (max-width:784px) {
        #col1{
            display: none;
        }

        .compte{
            height: 150px;
            width: 13vw;
            border: 2px solid rgb(0, 0, 0);
            border-radius: 30px 30px 0 0;
        
        }
      
       #re21{
        height: 110px;
        width: 100%;
        overflow: hidden;
        font-size: 12px;
       }
       .catalogue2{
        width: 300px;
       }
   
        .image{
            width: 130px;
        }

        #sup{
            display: none;
         }
        .compte{
            height: 170px;
            width: 30vw;
        
        } 
        div.catalogue1{
            display: none;
        }
        .catalogue2{
            width: 250px;
           }
           
           .image{
            width: 90px;
            height: 30px;
            top: 5px;
           }
           .uti li a {
                display: none;
           }
           .cat {
            left: -50px;
            font-size: 10px;
           }
           .vv{
            display: none;
           }
           .cat{
            display: flex; 
            position: absolute;
            right: 300px;
            margin-top: 10px;
            gap: 30px;
            left: -60px;
         
        }
    }



