*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(image/premium.jpg);
    background-size: cover;   
}

@media (max-width: 1370px)  {

    .bar{
        /* border: 2px solid rgb(143, 70, 70); */
        justify-content: end;
        display: flex;
        background-color: black;
        height: 75px;
        border-bottom:3px solid blue;
        
    }
    div ul{
        display: flex;
        list-style: none;
    }
    li input{
        background-color: black;
        color: white;
        border: none;
    }
    div ul li a{
        color: white;
        font-size: 15px;
    
    }
    ul{
        border: 1px solid black;
        transform: translateY(12px) ;   
    }
    .bar1{
        border: 1px solid black;
        
    }
    img.utilisateur{
        border: 1px solid black;
        padding-left: 5px;
        transform: translateY(-6px); 
    }
    img.catalogue{
        border: 1px solid black;
        padding-left: 5px;
        transform: translateY(-6px); 
    }
    img.recherche{
        border: 1px solid black;
        padding-left: 5px;
        transform: translateY(-5px);
        position: relative;
    }
    .rech{
        /* border: 1px solid rgb(164, 4, 4); */
        width: 120px;
        display: flex;
        margin-left: -620px;
        position: absolute;
        margin-top: 10px;
    }
    .cat{
        display: flex; 
        position: absolute;
        margin-left: -190px;
        margin-top: 10px;
     
    }
    .uti{
        display: flex;
        margin-top: 10px;
        margin-left: 30px;
        padding-left: -12px;
    }
    .image{
        margin-left: -561px;
        position: absolute;
        height: 50px;
        margin-top: 5px;
        
    }
    .twt{
        margin-left: -520px;
        position: absolute;
        margin-top: 15px;
        margin-left: -320px;
    }
    
    .pint{
        margin-top: 15px;
        margin-left: -270px;
    }      
}
/* fin de la bare */
.choix{   
    position: absolute;
    margin-left: 12px;
    height: 50px;
    width: 1360px;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 35px; 
    color: white;
}

.vers{
    background-color: rgb(22, 22, 22);
    height: 510px;
    width: 1380px;
    margin-top: 200px;
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.text_payement{
    padding-top: 22px;
    color: white;
}

.compte{
    background-color: rgb(255, 255, 255);
    height: 90px;
    width: 990px;
    position: absolute;
    border-radius: 15px;
    margin-top: 100px;
    
    
}

.img_operateur{
    position: absolute;
    padding-left: 17px;
    top: 25px;

}
.payements{
    text-decoration: none;
    color: black;
    top: 12px;
    width: 300px;
    position: absolute;
}

.motivation{
    
    height: 250px;
    width: 1180px;
    position: absolute;
    top: 200px;
    
}
.motivation_image{
    justify-content: space-between;
    margin: 70px;
    margin-top: 32px;
    display: flex;

}
.motivation_texte{
    height: 100px;
    width: 1130Px;
    margin-left: 52px;  
    justify-content: space-between;
    margin-top: 30px;
    display: flex;
    color: white;
    font-size: 13px;

}
.motivation_image img{
    border-radius: 20%;
}






