*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(image/premium.jpg);
    background-size: cover;  
    background-repeat: no-repeat; 
}



    .bar{
        /* border: 2px solid rgb(143, 70, 70); */
        justify-content: end;
        display: flex;
        background-color: black;
        height: 75px;
        border-bottom:3px solid blue;
        
    }
    div ul{
        display: flex;
        list-style: none;
    }
    li input{
        background-color: black;
        color: white;
        border: none;
    }
    div ul li a{
        color: white;
        font-size: 15px;
    
    }
    ul{
        border: 1px solid black;
        transform: translateY(12px) ;   
    }
    .bar1{
        border: 1px solid black;
        
    }
    img.utilisateur{
        border: 1px solid black;
        padding-left: 5px;
        transform: translateY(-6px); 
    }
    img.catalogue{
        border: 1px solid black;
        padding-left: 5px;
        transform: translateY(-6px); 
    }
    .cat{
        display: flex; 
        position: absolute;
        margin-left: -190px;
        margin-top: 10px;
     
    }
    img.recherche{
        border: 1px solid black;
        padding-left: 5px;
        transform: translateY(-5px);
        position: relative;
    }
    .rech{
        /* border: 1px solid rgb(164, 4, 4); */
        width: 120px;
        display: flex;
        margin-left: -620px;
        position: absolute;
        margin-top: 10px;
    }
  
    .uti{
        display: flex;
        margin-top: 10px;
        margin-left: 30px;
        padding-left: -12px;
    }
    .image{
        left: 10px;
        position: absolute;
        height: 40px;
        margin-top: 5px;
        
    }
          


/* fin de la bare */
.choix{   
    position: absolute;
    right: 300Px;
    height: 50px;
    width: 63vw;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 35px; 
    color: rgb(255, 255, 255);
}

.vers{
    background-color: rgb(22, 22, 22);
    height: 510px;
    width: 100%;
    margin-top: 200px;
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.text_payement{
    padding-top: 22px;
    color: orangered;
}
.pint{
    left: 290px;
    top: 15px;
    width: 2vw;
    position: absolute;
}

.twt{
    left: 390px;
    top: 15px;
    position: absolute;
    height:30px;
    width: 2vw;
}
.compte{
    background-color: rgb(255, 255, 255);
    height: 90px;
    width: 50vw;
    position: absolute;
    border-radius: 15px;
    margin-top: 100px;
    
    
}

.img_operateur{
    position: absolute;
    padding-left: 17px;
    top: 15px;


}
.payements{
    text-decoration: none;
    color: black;
    top: 12px;
    width: 30vw;
    position: absolute;

}

.motivation{
    
    height: 250px;
    width: 58vw;
    /* left: 500px; */
    position: absolute;
    top: 200px;

    
}
.motivation_image{
    justify-content: space-between;
    width: 50vw;
    display: flex;
    margin-top: 20px;
}
.motivation_texte{
    height: 100px;
    width: 52vw;  
    justify-content: space-between;
    margin-top: 50px;
    display: flex;
    color: white;
    font-size: 13px;
}
.motivation_image img{
    border-radius: 20%;
}




@media screen and (min-width:434px) and  (max-width:1300px){ 
    .choix{   
        position: absolute;
        right: 300Px;
        height: 50px;
        width: 63vw;
        margin-top: 150px;
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 35px; 
        color: rgb(255, 255, 255);
    }
    
    .vers{
        background-color: rgb(22, 22, 22);
        height: 510px;
        width: 100%;
        margin-top: 200px;
        position: absolute;
        display: flex;
        justify-content: center;
        text-align: center;
        
    }
    
    .text_payement{
        padding-top: 22px;
    }
    .pint{
        display: none;
    }
    
    .twt{
        display: none;
    }
    .compte{
        background-color: rgb(255, 255, 255);
        height: 60px;
        width: 50vw;
        position: absolute;
        border-radius: 15px;
        margin-top: 100px;
        
        
    }
    
    .img_operateur{
        position: absolute;
        padding-left: 17px;
        top: 15px;
    
    
    }
    .payements{
        text-decoration: none;
        color: rgb(156, 31, 31);
        top: 10px;
        width: 25vw;
        position: absolute;
        font-size: 9px;
    }
    
    .motivation{
        
        height: 250px;
        width: 58vw;
        /* left: 500px; */
        position: absolute;
        top: 200px;
    
        
    }
    .motivation_image{
        width: 50vw;
        margin-top: 20px;
        gap: 22px;
    }
    .motivation_texte{
        height: 100px;
        width: 52vw;  
        justify-content: space-between;
        margin-top: 50px;
        display: flex;
        color: white;
        font-size: 9px;
    }
    .motivation_image img{
        border-radius: 20%;
    }
    .ss{
        display: none;
    }
    .ww{
        height: 20px;

    }

    img.recherche{
        display: none;
    }
    .rech{
       display: none;
    }
    .choix{
        display: none;
    }


 }
 @media screen and (min-width:300px) and  (max-width:654px){ 

    .choix{   
        position: absolute;
        right: 300Px;
        height: 50px;
        width: 63vw;
        margin-top: 150px;
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 35px; 
        color: rgb(255, 255, 255);
    }
    
    .vers{
        background-color: rgb(22, 22, 22);
        height: 610px;
        width: 100%;
        margin-top: 200px;
        position: absolute;
        display: flex;
        justify-content: center;
        text-align: center;
        
    }
    
    .text_payement{
        padding-top: 22px;
        font-size: 10px;
    }
    .pint{
        display: none;
    }
    
    .twt{
        display: none;
    }
    .compte{
        background-color: rgb(255, 255, 255);
        height: 40px;
        width: 50vw;
        position: absolute;
        border-radius: 15px;
        margin-top: 100px;
        
        
    }
    
    .img_operateur{
        position: absolute;
        padding-left: 17px;
        top: 10px;
    }
    .yy{
        height: 70px;
    }
    .payements{
        text-decoration: none;
        color: rgb(0, 0, 0);
        top: 5px;
        width: 20vw;
        position: absolute;
        font-size: 5px;
    }
    
    .motivation{
        
        height: 350px;
        width: 100%;
        position: absolute;
        top: 200px;
    }
    .motivation_image{
        width: 100%;
        margin-top: 20px;
        gap: 22px;
        
    }
    .motivation_texte{
        height: 100px;
        width: 100%;  
        justify-content: space-between;
        margin-top: 50px;
        display: flex;
        color: white;
        font-size: 9px;
    }
    .motivation_image img{
        border-radius: 20%;
    }
    .ss{
        display: none;
    }
    .ww{
        height: 10px;

    }

    img.recherche{
        display: none;
    }
    .rech{
       display: none;
    }
    .choix{
        display: none;
    }
    img.catalogue{
        border: 1px solid black;
        padding-left: 5px;
        transform: translateY(2px); 
        height: 20px;
    }
    .cat{
        display: flex; 
        position: absolute;
        right: 120px;
    }
    .cat li a {
        font-size: 10px;

    }
    .uti li a {
        font-size: 10px;

    }
    .image{
        left: 10px;
        position: absolute;
        height: 20px;
    top: 5px;        
    }
    img.utilisateur{
        border: 1px solid black;
        padding-left: 5px;
        transform: translateY(-2px); 
        height: 20px;
    }

     }



